

@font-face {
    font-family: 'Salo Test Giorgio';
    src: url('/fonts/SaloTest-Giorgio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('/fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "RobotoSerif";
  src: url("/fonts/RobotoSerif.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
